In [45]:
import pandas as pd
import numpy as np

In [46]:
df=pd.read_csv("imu.csv",usecols =['Gyroscope Z'])

In [47]:
df.head()

   Gyroscope Z
0    -1.708984
1    -1.525879
2    -1.342774
3    -1.159668
4     1.403809

In [48]:
C=90.123
C1=0.4
C2=0.66
cfc=0
a=df.values.tolist()
b=np.array(a)
d=df.count()
type(b)
print(d)
print(b[0])

Gyroscope Z    119910
dtype: int64
[-1.708984]

In [49]:

for i in range(119910):
    d=i*(i+1)
    if((d*-C)<0):
        cfc=cfc+1
    if(cfc==2):
        cfc=0
        print(cfc)
        break

0

In [73]:
peak=[]
print('test')
count=0
for i in range(119909):
    if(b[i]<b[i+1]):
        i=i+1
    elif(b[i]>b[i+1]):
        peak.append(b[i])
        i=i+1
        count=count+1
type(peak)
print(count)

test
52654

In [74]:
valley=[]
print('test')
count=0
for i in range(119909):
    if(b[i]>b[i+1]):
        i=i+1
    elif(b[i]<b[i+1]):
        valley.append(b[i])
        i=i+1
        count=count+1
type(valley)
print(count)

test
50857

In [62]:
for i in range(100):
    print(b[i])

[-1.708984]
[-1.525879]
[-1.342774]
[-1.159668]
[1.403809]
[6.530762]
[8.728028]
[3.173828]
[0.488281]
[-0.366211]
[-0.549316]
[-0.549316]
[-0.549316]
[-0.549316]
[-0.549316]
[-0.671387]
[-0.915527]
[-1.037598]
[-1.037598]
[-0.793457]
[-0.732422]
[-0.732422]
[-0.610352]
[-0.610352]
[-0.488281]
[-0.305176]
[-0.305176]
[-0.366211]
[-0.366211]
[-0.671387]
[-0.976563]
[-1.281738]
[-1.647949]
[-1.77002]
[-1.708984]
[-1.586914]
[-1.342774]
[-1.098633]
[-1.159668]
[-1.220703]
[-1.281738]
[-1.464844]
[-1.647949]
[-1.77002]
[-1.953125]
[-2.258301]
[-2.258301]
[-2.136231]
[-2.075195]
[-1.831055]
[-1.831055]
[-1.647949]
[-1.464844]
[-1.281738]
[-1.281738]
[-1.403809]
[-1.525879]
[-1.525879]
[-1.525879]
[-1.586914]
[-1.77002]
[-1.831055]
[-1.89209]
[-2.075195]
[-2.197266]
[-2.258301]
[-2.258301]
[-2.441406]
[-2.258301]
[-2.01416]
[-1.708984]
[-1.525879]
[-1.342774]
[-1.159668]
[1.403809]
[6.530762]
[8.728028]
[3.173828]
[0.488281]
[-0.366211]
[-1.098633]
[-1.647949]
[-1.89209]
[-1.89209]
[-1.89209]
[-1.953125]
[-2.136231]
[-6.958008]
[-8.666993]
[-10.986329]
[-13.854981]
[-16.235353]
[-15.075685]
[-12.878419]
[-9.094239]
[-6.713868]
[-4.272461]
[-2.441406]
[0.610352]
[-5.737305]