In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("imu.csv",usecols =['Gyroscope Z'])

In [4]:
df.head()

   Gyroscope Z
0    -1.708984
1    -1.525879
2    -1.342774
3    -1.159668
4     1.403809

In [5]:
C=90.123
C1=0.4
C2=0.66
cfc=0
a=df.values.tolist()
b=np.array(a)
d=df.count()
type(b)
print(d)
print(b[0])

Gyroscope Z    119910
dtype: int64
[-1.708984]

0

In [7]:
peak=[]
print('test')
count=0
for i in range(119909):
    if(b[i]<b[i+1]):
        i=i+1
    elif(b[i]>b[i+1]):
        peak.append(b[i])
        i=i+1
        count=count+1
type(peak)
print(count)

test
52654

In [8]:
valley=[]
print('test')
count=0
for i in range(119909):
    if(b[i]>b[i+1]):
        i=i+1
    elif(b[i]<b[i+1]):
        valley.append(b[i])
        i=i+1
        count=count+1
type(valley)
print(count)

test
50857

In [21]:
def countlist(valley,peak):
    return[sub[item] for item in range(len(valley))
                     for sub in[valley,peak]]

com=(countlist(valley,peak))
e=len(com)
print(e)

101714

In [26]:
ft=[]
lam=[]
lt=[]
ms=[]

In [67]:
for i in range(1):
    d=i*(i+1)
    if((d*-C)<0):
        cfc=cfc+1
    if(cfc==2):
        if(i%4==0):
            ft.append(com[i])
        elif(i%4==1):
            lam.append(com[i])
        elif(i%4==2):
            lt.append(com[i])
        elif(i%4==3):
            ms.append(com[i])
print('FIRST TOUCH')
print(ft)
print('LAMBDA VALUE')
print(lam)
print('LAST TOUCH')
print(lt)
print('MID SWING')
print(ms)

FIRST TOUCH
[]
LAMBDA VALUE
[]
LAST TOUCH
[array([-1.525879])]
MID SWING
[]

In [62]:
aa=40
bb=50
cc=aa+bb
cc

90